In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.model_selection import TimeSeriesSplit
tscv = TimeSeriesSplit(n_splits=4, max_train_size=60, test_size=18) # Train size is 5 years

In [2]:
ALL_DATA = pd.read_csv("../Data/kitCapstoneJan24_data.csv", delimiter=";")
TARGET_NAME = "sales_actuals_monthly__orderintake"
TEST_INDEX = 258
TEST_PERIOD = 18
ALL_DATA

,month,countryname,sales_actuals_monthly__vehiclegroup01__orderintake,sales_actuals_monthly__vehiclegroup01__retail,sales_actuals_monthly__vehiclegroup02__orderintake,sales_actuals_monthly__vehiclegroup02__retail,sales_actuals_monthly__vehiclegroup03__orderintake,sales_actuals_monthly__vehiclegroup03__retail,sales_actuals_monthly__vehiclegroup04__orderintake,sales_actuals_monthly__vehiclegroup04__retail,...,registrations__buildtype_suv,registrations__buildtype_transport,registrations__buildtype_van,registrations__buildtype_cabrio,registrations__buildtype_stufenheck,registrations__buildtype_kurzheck,registrations__buildtype_other,registrations__buildtype_pickup,registrations__buildtype_coupe,registrations__buildtype_kombi
0,1,Country A,296.0,352.0,739.0,471.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Country A,414.0,372.0,904.0,528.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Country A,405.0,604.0,1000.0,953.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Country A,359.0,483.0,828.0,972.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Country A,403.0,474.0,594.0,900.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,356,Country D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436,357,Country D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437,358,Country D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1438,359,Country D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1439,360,Country D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def get_data(df, veh_group, country):
    data = df.loc[df["countryname"] == country, :].filter(regex=veh_group)
    data.columns = [col.replace(veh_group + '__', '') for col in data.columns]
    data.reset_index(inplace=True, drop=True)
    data = data.fillna(data.mean()) # Filling with MEAN VALUE!!!!!!! NEED to fix
    return data

data = get_data(ALL_DATA, "vehiclegroup01", "Country A")
data

,sales_actuals_monthly__orderintake,sales_actuals_monthly__retail,sales_flow_monthly__cp8,sales_stock_monthly__physical,sales_stock_monthly__grossall,sales_stock_monthly__netimporteranddealer,customer_vehicle_relationships__terminated_cars,customer_vehicle_relationships__active_cars,leads__won,leads__first_touch_point,leads__lost,leasing_contracts__end,leasing_contracts__start,premises__flag_order_start,premises__in_sales,premises__flag_production_start,premises__in_production,quota__aq
0,296.000000,352.00000,241.535714,419.686275,478.284314,484.637255,0.000000,25.000000,326.22,112.7,116.215,0.00000,81.000000,55.04186,243.772093,57.209302,373.976744,293.585106
1,414.000000,372.00000,241.535714,419.686275,478.284314,484.637255,1.000000,102.000000,326.22,112.7,116.215,4.00000,130.000000,55.04186,243.772093,57.209302,373.976744,293.585106
2,405.000000,604.00000,241.535714,419.686275,478.284314,484.637255,2.000000,152.000000,326.22,112.7,116.215,2.00000,145.000000,55.04186,243.772093,57.209302,373.976744,293.585106
3,359.000000,483.00000,241.535714,419.686275,478.284314,484.637255,2.000000,75.000000,326.22,112.7,116.215,2.00000,183.000000,55.04186,243.772093,57.209302,373.976744,293.585106
4,403.000000,474.00000,241.535714,419.686275,478.284314,484.637255,10.000000,91.000000,326.22,112.7,116.215,4.00000,201.000000,55.04186,243.772093,57.209302,373.976744,293.585106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,296.325581,376.79845,241.535714,419.686275,478.284314,484.637255,219.844961,389.418605,326.22,112.7,116.215,337.83631,223.160714,55.04186,243.772093,57.209302,373.976744,293.585106
356,296.325581,376.79845,241.535714,419.686275,478.284314,484.637255,219.844961,389.418605,326.22,112.7,116.215,337.83631,223.160714,55.04186,243.772093,57.209302,373.976744,293.585106
357,296.325581,376.79845,241.535714,419.686275,478.284314,484.637255,219.844961,389.418605,326.22,112.7,116.215,337.83631,223.160714,55.04186,243.772093,57.209302,373.976744,293.585106
358,296.325581,376.79845,241.535714,419.686275,478.284314,484.637255,219.844961,389.418605,326.22,112.7,116.215,337.83631,223.160714,55.04186,243.772093,57.209302,373.976744,293.585106
359,296.325581,376.79845,241.535714,419.686275,478.284314,484.637255,219.844961,389.418605,326.22,112.7,116.215,337.83631,223.160714,55.04186,243.772093,57.209302,373.976744,293.585106

In [4]:
# Split the data to evaluate our method, data from TEST_INDEX will not be included in the evaluation
for i, (train_index, test_index) in enumerate(tscv.split(data.loc[:TEST_INDEX,:])):
    print(len(train_index), train_index[0], train_index[-1], test_index)

60 127 186 [187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204]
60 145 204 [205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222]
60 163 222 [223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240]
60 181 240 [241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258]

# Model

In [1]:
from abc import ABC, abstractmethod

class Model(ABC):
    @abstractmethod
    def __init__(self) -> None:
        ...
    @abstractmethod
    def train(self) -> None:
        ...

    @abstractmethod
    def predict(self) -> None:
        ...

## ARIMAX

In [ ]:
import pmdarima as pm

class SARIMAXModel(Model):
    def __init__(self, y_train, exo_data=None, predict_periods=18):
        # Split the train subset 
        # exo_data.iloc[:-n_periods, 0]
        self.predict_periods = predict_periods
        self.y_train = y_train
        self.exogenous_data_train = None
        self.exogenous_data_test = None

        if exo_data is not None:
            self.exogenous_data_train = exo_data.iloc[:-self.predict_periods, 1:]
            self.exogenous_data_test = exo_data.iloc[-self.predict_periods:, 1:]    
        
        self.model: pm.arima.ARIMA = None

    def train(self):
        # https://alkaline-ml.com/pmdarima/modules/generated/pmdarima.arima.auto_arima.html
        # Find the best model using stepwise algorithm outlined in Hyndman and Khandakar (2008)
        self.model =  pm.auto_arima(y=self.y_train, # target
                                    X=self.exogenous_data_train, # data
                                    start_p=0, max_p=5,
                                    start_q=0, max_q=5, # maximum p and q
                                    start_P=0, max_P=5,
                                    start_Q=0, max_Q=5, 
                                    d=None,              # usual differencing
                                    D=None,              # seasonal differencing
                                    seasonal=True,   # Seasonality
                                    m=12,              # frequency of series
                                    test='adf',       # use adftest to find optimal 'd'
                                    trace=True,
                                    error_action='ignore',  
                                    suppress_warnings=True,
                                    scoring='mse', # mae/mse
                                    stepwise=True)

    def predict(self):
        y_predict = self.model.predict(n_periods=self.predict_periods, X=self.exogenous_data_test)
        return y_predict
        
        # might be useful
        # print(f"Period = {n_periods}.", "MAPE score is", mean_absolute_percentage_error(y_test, y_predict))
        # plt.plot(y_test.to_list(), label="Test")
        # plt.plot(y_predict.to_list(), color='darkgreen', label="Predict")
        # plt.legend()
        # plt.show()

SARIMAX_model = SARIMAXModel(n_periods = 36, exo=False)

## XGBoost

In [ ]:
import xgboost

class XGBoostModel(Model):
    def __init__(self, X_train, y_train, X_test):
        self.model = xgboost.XGBRegressor(use_label_encoder=False, eval_metric="mae")
        self.X_train = X_train
        self.y_train = y_train
        self.X_test = X_test

    def train(self):
        self.model.fit(self.X_train, self.y_train)

    def predict(self):
        return self.model.predict(self.X_test)

## Prophet

In [ ]:
from prophet import Prophet

class ProphetModel(Model):
    # train_df = train_df.copy()
    # train_df["y"] = y_sub.copy()
    # Convert the 'ds' column to datetime format
    # start_date = '2000-01-01'  # Adjust this date to your needs
    # train_df['ds'] = pd.to_datetime(train_df.index.apply(lambda x: pd.DateOffset(months=x) + pd.Timestamp(start_date)))

    def __init__(self, train_df) -> None:
        self.train_df = train_df
        self.model = Prophet(yearly_seasonality=True)

    def train(self):
        # https://facebook.github.io/prophet/docs/quick_start.html#python-api
        self.model.fit(self.train_df) # Expect to have at least 2 columns 'ds' (YYYY-MM-DD) and 'y'

    def predict(self):
        future = self.model.make_future_dataframe(periods=18, freq = "MS")
        forecast = self.model.predict(future)
        return forecast['yhat']

# Pipeline

In [ ]:
def run_model(model: Model):
    # Train
    model.train()
    
    # Evaluation
    model.predict()
    mean_mape = None
    print("Mean MAPE:", mean_mape)

    # Final prediction
    final_prediction = model.predict() # 18 values
    return final_prediction

run_model(model=)

In [ ]:
def ensemble(model_dict):
    for model_name, model_pipe in model_dict:
        final_prediction = pipeline(train_data, )
        plt.plot(final_prediction, label=model_name)

    plt.legend()
    plt.show()

model_dict = {
    "XGBoost": ,
    "Prophet": ,
    "ARIMA": ,
}
ensemble(model_dict)

## Filter out only vehicle group 01 of country A
Note: Later generalize to group 02 -> 06

### Amount of missing data

In [ ]:
missing_counts = tiny_data.isnull().sum()

# Calculate percentage of missing data in each column
total_rows = len(tiny_data)
missing_percentages = (missing_counts / total_rows) * 100

# Create a DataFrame to display the results
missing_data_summary = pd.DataFrame({
    'missing_count': missing_counts,
    'missing_per': round(missing_percentages)
})

missing_data_summary.sort_values(by='missing_per', inplace=True)
missing_data_summary

In [ ]:
# num_cols = 4
# num_rows = 5

# plt.figure(figsize=(20, 10))
# for i, col in enumerate(missing_data_summary.index):
#     plt.subplot(num_rows, num_cols, i + 1)
#     sns.histplot(tiny_data[col], color="lightblue") # drop na values only when visualize

#     mean_val = tiny_data[col].mean()
#     median_val = tiny_data[col].median()
    
#     # Add vertical lines for mean and median
#     plt.axvline(x=mean_val, color='red', linestyle='--', linewidth=3, label='Mean')
#     plt.axvline(x=median_val, color='black', linestyle='--', linewidth=3, alpha=.7, label='Median')

#     plt.xlabel("")
#     plt.title(col + f" ({int(missing_data_summary.loc[col, 'missing_per'])}% NA)", fontsize=10)

# plt.tight_layout()
# plt.suptitle("Distrubtion plot of variable", fontsize=16)
# plt.subplots_adjust(top=0.9)
# plt.legend()
# plt.show()

In [ ]:
# num_cols = 4
# num_rows = 5

# plt.figure(figsize=(20, 10))
# for i, col in enumerate(missing_data_summary.index):
#     plt.subplot(num_rows, num_cols, i + 1)
#     sns.lineplot(tiny_data[col], color="lightblue") # drop na values only when visualize

#     mean_val = tiny_data[col].mean()
#     median_val = tiny_data[col].median()
    
#     # Vertical line for missing position
#     missing_indices = tiny_data[col][tiny_data[col].isnull()].index
#     plt.axvline(x=missing_indices[0], color='green', linestyle=':', linewidth=0.7, label="Missing")
#     for missing_index in missing_indices[1:]:
#         plt.axvline(x=missing_index, color='green', linestyle=':', linewidth=0.7)  

#     # Add vertical lines for mean and median
#     plt.axhline(y=mean_val, color='red', linestyle='--', linewidth=3, label='Mean')
#     plt.axhline(y=median_val, color='black', linestyle='--', linewidth=3, alpha=.7, label='Median')

#     plt.ylabel("")
#     plt.title(col + f" ({int(missing_data_summary.loc[col, 'missing_per'])}% NA)", fontsize=10)

# plt.tight_layout()
# plt.suptitle("Time series plot of variable", fontsize=16)
# plt.subplots_adjust(top=0.9)
# plt.legend(loc='lower right', bbox_to_anchor=(2, 0), ncol=1)
# plt.show()

### Check for autocorrelation

In [ ]:
# from matplotlib import pyplot
# from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
# plot_acf(target.diff(12).dropna(), lags=50)
# plot_pacf(target.diff(12).dropna(), lags=50)
# pyplot.show()

# from statsmodels.tsa.stattools import adfuller
# from numpy import log
# result = adfuller(target.dropna())
# print('ADF Statistic: %f' % result[0])
# print('p-value: %f' % result[1])

In [ ]:
# from statsmodels.tsa.seasonal import seasonal_decompose

# result = seasonal_decompose(target.dropna(), model='additive', period=12)
# plt.figure(figsize=(20,6))
# result.plot()
# plt.show()

In [ ]:
p = 1
q = 2
# ARIMA(p,d,q) = (1,0,2)

In [ ]:
exo_data = tiny_data.loc[:, ["sales_actuals_monthly__orderintake", "leasing_contracts__end"]].dropna(axis=0) # "leasing_contracts__start"
start_date = '2024-01-01'
start_date = pd.to_datetime(start_date)
exo_data.index = pd.date_range(start=start_date, periods=len(exo_data), freq='MS')
exo_data

In [ ]:
from sklearn.inspection import permutation_importance
from xgboost import XGBRegressor
from sklearn.model_selection import TimeSeriesSplit

tscv = TimeSeriesSplit(n_splits=4, gap=6, test_size=18)

non_na_data = tiny_data.dropna()
X_in = non_na_data.drop("sales_actuals_monthly__orderintake", axis=1)
y = non_na_data["sales_actuals_monthly__orderintake"]

importances_mean = []
importances_std = []
for i, (train_index, test_index) in enumerate(tscv.split(X_in, y)):
    print(train_index, test_index)
    X_train, y_train = X_in.iloc[train_index], y.iloc[train_index]
    X_val, y_val = X_in.iloc[test_index], y.iloc[test_index]
    model = XGBRegressor().fit(X_train, y_train)
    result = permutation_importance(
        model,
        X_val,
        y_val,
        n_repeats=10,
        scoring='neg_mean_absolute_error', # neg_mean_absolute_percentage_error
        random_state=0
    )

    importances_mean.append(result.importances_mean)
    importances_std.append(result.importances_std)

In [ ]:
feature_importance_df = pd.Series(np.mean(importances_mean, axis=0), index=X_in.columns).sort_values(ascending=True)
feature_importance_df.plot.barh()
plt.title("Permutation importance (the larger the better)")
plt.xlabel("Decrease in MAE score")
plt.plot()

In [ ]:
vehicle_group_list = [f'{i:02}' for i in range(1, 65)]
country_list = [f'Country {name}' for name in ['A', 'B', 'C', 'D']]
print(vehicle_group_list)
print(country_list)

In [ ]:
in_correlation = X_in.corrwith(y)
print(in_correlation[abs(in_correlation) > 0.39])
colors = ['red' if abs(val) > 0.39 else 'grey' for val in in_correlation]
ax = in_correlation.plot.barh(color=colors)
ax.axvline(x=0.39, color='black', linestyle='dotted')
ax.set_xticks([0.39])
yticks = ax.get_yticklabels()
ytick_labels = [label.get_text().replace("__vehiclegroup01__", "_") for label in yticks]
ax.set_yticklabels(ytick_labels)
plt.show()

## External features

In [ ]:
# X_ex = external_data.iloc[non_na_data.index,:].drop(columns=['month'])

# importances_mean = []
# importances_std = []
# for i, (train_index, test_index) in enumerate(tscv.split(X_ex, y)):
#     print(train_index, test_index)
#     X_train, y_train = X_ex.iloc[train_index], y.iloc[train_index]
#     X_val, y_val = X_ex.iloc[test_index], y.iloc[test_index]
#     model = XGBRegressor().fit(X_train, y_train)
#     result = permutation_importance(
#         model,
#         X_val,
#         y_val,
#         n_repeats=10,
#         scoring='neg_mean_absolute_error', # neg_mean_absolute_percentage_error
#         random_state=0
#     )

#     importances_mean.append(result.importances_mean)
#     importances_std.append(result.importances_std)

# feature_importance_df = pd.Series(np.mean(importances_mean, axis=0), index=X_ex.columns).sort_values(ascending=True)[:20]
# feature_importance_df.plot.barh()
# plt.title("Permutation importance (the larger the better)")
# plt.xlabel("Decrease in MAE score")
# plt.plot()

In [ ]:
# ex_correlation = X_ex.corrwith(y)
# plt.figure(figsize=(15, 6))
# ex_correlation.plot.box(vert=False)
# plt.show()

The middle 50% of the data (interquartile range) has value smaller quite small. We visualize only features with correlation larger than +-0.4

In [ ]:
# large_corr_ex_features = ex_correlation[abs(ex_correlation) > 0.4]
# print(large_corr_ex_features)

In [ ]:
# plt.barh(large_corr_ex_features.index, large_corr_ex_features.values)
# plt.show()

## Visualize number of features for each vehicle group

In [ ]:
# vec_dict = {}
# for veh in vehicle_group_list:
#     vec_dict[veh] = len(internal_data.filter(regex=f"vehiclegroup{veh}").columns)

# df_temp = pd.DataFrame(vec_dict.items(), columns=['Vehicle group', 'No. of features'])

# plt.figure(figsize=(14, 7), facecolor='white')
# colors = ['red' if i in [49, 52, 55] else 'grey' for i in range(1, len(df_temp)+1)]
# colors[:6] = ["lightblue"] * 6
# plt.bar(df_temp['Vehicle group'], df_temp['No. of features'], color=colors, edgecolor='none')
# plt.axhline(y=5, xmax=0.82, color='black', linestyle='dotted')

# plt.xlabel('Vehicle group', fontsize=15)
# plt.ylabel('No. of features', fontsize=15)
# plt.title('Number of features for each vehicle group', fontsize=25)
# plt.xticks(["01", "06"] + ["49", "52", "55"], fontsize=10)
# plt.yticks([5,15,18], fontsize=15)
# plt.tight_layout()
# plt.box(False)
# plt.savefig("../img/vehicle_vs_internal_features.png", bbox_inches='tight')
# plt.show()